.booth {
    width: 400px;
    background-color: #ccc;
    border:10px solid rgb(44, 82, 153);
    margin: 0 auto;
}

.video_class {
    width: 400px;
    height: 300px;
}

.booth-capture-button {
    display: block;
    margin: -4px 0px 0px 0px;
    background-color: rgb(44, 82, 153);
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 45px;
    border-radius: 10px 10px 0px 0px;
}

.canvas_class {
    margin-bottom: -4px;
}

.button_booth {
    background-color: #f2f2f2;
    width: 400px;
    margin: 0 auto;
    margin-top: -15px;
    border-radius: 10px 0px 10px 10px;
}

.back-button {
    width: 100px;
    height: 35px;
    background-color: #f2f2f2;
    float: left;
    border-radius: 0px 0px 0px 10px;
}

.upload {
    width: 100px;
    height: 35px;
    background-color: #f2f2f2;
}

.set_as_p {
    width: 100px;
    height: 35px;
    margin-top: 10px;
    background-color: #f2f2f2;
    margin-left: 40px;
    margin: -4px;
    padding: 10px;
}

.filters {
    width: 100px;
    height: 35px;
    background-color: #f2f2f2;
    border-radius: 0px 0px 10px 0px;
}

.b1_style, .b2_style, .b3_style, .b4_style {
    text-decoration: none;
    font-family: arial;
    color: black;
    margin: -10px;
}