
@import url(reset_stylesheet.css);

html {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    /*background-image: url(../img/Trees_1400x900-1024x658.png);*/
    background-color: #bfbfbf21;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}   

nav {
    top: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    position: fixed;
    box-shadow: 0px 0px 2px;
}

.navbar-logo {
    float: left;
    display: block;
    padding-left: 12px;
    padding-top: 15px;
}

.navbar-logo a {
    position: absolute;
    left: 55px;
    font-size: 30px;
    font-family: 'Carter One', monospace;
    color: black;
}

nav ul li ul {
    display: none;
    background-color:#a8bbd47d;
    position: relative;
    float: right;
    width: 190px;
    height: 218px;
    top: 45px;
    right: 10px;
    padding: 8px;
    border-radius: 0px 0px 4px 4px;
}
nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    display: block;
    font-family: 'Carter One', monospace;
    font-size: 14px;
    color: #111;
    line-height: 12px;
    padding: 22px 14px;
    background-color: #a8bbd47d;
}
nav ul li ul li:hover {
    background-color: #9898987d;
}


nav ul li ul li a {
    color: black;
}
.btn {
    width: 100%;
    float: right;
    font-size: 14px;
    border: none;
    padding: 22px 14px;
    line-height: 12px;
    font-family: 'Carter One', monospace;
    text-align: left;
    background-color: #a8bbd47d;
}
.btn:hover {
    background-color: #9898987d;
}
.username_style {
    position: absolute;
    right: 224px;
    top: 20px;
    font-weight: 600;
    font-family: 'Carter One', monospace;
    font-size: 19px;
    color: grey;
    transition: .3s ease-out;
}

.username_style:hover {
    transform: scale(1.2);
    color: darkslategrey;
}

.camlogo {
    position: absolute;
    right: 5px;
    top: 2px;
    font-weight: 900;
    font-size: 36px;
    float: left;
    padding: 4px;
    margin-top: -10px;
}

.cam_icon  {
    position: absolute;
    top: 18px;
    right: 141px;
    font-size: 25px;
    transition: .2s ease-out;
    color: grey;
}

.cam_icon:hover {
    transform: scale(1.3);
    color: darkslategrey;
}

.settings_icon {
    position: absolute;
    top: 18px;
    right: 93px;
    font-size: 25px;
    transition: .2s ease-out;
    color: grey;
}
.settings_icon:hover {
    transform: scale(1.3);
    color: darkslategrey;
}

.login-form {
    float: right;
    padding-top: 15px;
}

nav input {
    float: left;
    width: 140px;
    height: 30px;
    padding: 0px 10px;
    margin-right: 10px;
    border: none;
    background-color: #f1f1f1;
    font-family: arial;
    font-size: 14px;
    color: #111;
    line-height: 30px;
    border-radius: 2px;
}

.login {
    float: left;
    width: 60px;
    height: 30px;
    margin-right: 10px;
    border: none;
    background-color: #f1f1f1;
    font-family: arial;
    font-size: 14px;
    color: #111;
    cursor: pointer;
    border-radius: 2px;
}

.login:hover {
    background-color: rgb(74, 99, 136);
}

header .nav-login a {
    display: block;
    width: 60px;
    height: 60px;
    border: none;
    float: left;
    background-color: #fff;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 60px;
    cursor: pointer;
}
.main-container {
    margin-top: 60px;
    padding-top: 40px;
}

.main-container h2 {
    font-family: arial;
    font-size: 40px;
    color: #111;
    line-height: 50px;
    text-align: center;
}

#retro_cam {
    display: block;
}
/*_______signup form_________##############################################################*/

.signup-form {
    width: 400px;
    margin: 0 auto;
    padding: 68px;
    text-align: center;
}

.signup-form input {
    width: 90%;
    height: 40px;
    padding: 0px 5px;
    margin-bottom: 4px;
    border: none;
    background-color: #fff;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 40px;
    border-radius: 5px;
}

.signup-form button {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 40px;
    border: none;
    background-color: rgb(74, 99, 136);
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.signup-form button:hover {
    background-color: rgb(226, 130, 66);
}

.main-wrapper p {
    text-align: center;
    font-family: 'arial';
}

.main-wrapper a {
    text-align: center;
}

.main-container div h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-align: center;
    color: rgb(83, 88, 148);
}

footer {
    font-size: 100px;
}

.img {
    margin: auto;
    text-align: center;
}

.signup_box {
       height: 350px;
       margin-top: 60px;
       text-align: center;
       background-color: #a8bbd47d;
}

.additional {
    margin: auto;
    text-align: center;
    margin-top: -10px;
    margin-right: -6px;
}

.agree {
    margin: 0 auto;
    font-family: arial;
}

.you_mean {
    margin: 0 auto;
    font-family: arial;
    margin-bottom: -10px;
}

.section-default {
    text-align: center;
    font-family: 'Carter One', monospace;
    margin-top: 100px;
}
.rnpbe-button {
    width: 200px;
    height: 25px;
    background-color: gold;
    border-radius: 4px;
    font-family: arial;
    font-size: 12px;
}
.eyea-input {
    width: 180px;
    height: 27px;
    border-radius: 4px;
    font-family: arial;
}

.additional {
    /* margin: auto; */
    text-align: center;
    margin-top: 50px;
    margin-right: -6px;
}

/*Get funtion styles*/
.reset_success, .check_email, .umaylogin, .verify_email, .badPwd {
    position: absolute;
    width: 100%;
    background-color: white;
    color: green;
    border-top: black;
    top: 61px;
    font-size: 15px;
    padding: 5px;
    font-family: 'Carter One', monospace;
}
.emptyfields, .username {
    position: absolute;
    width: 100%;
    background-color: white;
    color: rgb(192, 0, 0);
    border-top: black;
    top: 61px;
    font-size: 15px;
    padding: 5px;
    font-family: 'Carter One', monospace;
}

/*____________@MEDIA QUERY____________________#####################################*/
@media screen and (max-width: 600px) {
    
    html {
        box-sizing: border-box;
    }
    
    .main-wrapper {
        margin: 0 auto;
        width: 1000px;
    }
    a {
        text-decoration: none;
    }
    
    body {
       /*background-image: url(../img/Trees_1400x900-1024x658.png);*/
        background-color: #bfbfbf21;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }

    nav {
        top: 0;
        width: 100%;
        height: 60px;
        background: #fff;
        position: fixed;
    }
    
    .navbar-logo {
        float: left;
        display: block;
        padding-left: 5px;
        padding-top: 15px;
    }
    
    .navbar-logo a {
        position: absolute;
        left: 35px;
        top: 17px;
        font-size: 22px;
        font-family: 'Carter One', monospace;
        color: black;
    }

    .username_style {
        position: absolute;
        right: 153px;
        top: -2px;
        font-weight: 600;
        font-family: 'Carter One', monospace;
        font-size: 15px;
        color: grey;
        transition: .3s ease-out;
    }

    .nav-items {
        float: right;
    }

    .camlogo {
        position: absolute;
        right: 0px;
        top: 3px;
        font-weight: 900;
        font-size: 25px;
    }

    .cam_icon  {
        position: absolute;
        top: 15px;
        right: 117px;
        font-size: 22px;
        margin-top: 3px;
        transition: .2s ease-out;
    }
    
    .profile_icon {
        position: absolute;
        top: 15px;
        right: 124px;
        font-size: 25px;
        margin-top: 3px;
        transition: .2s ease-out;
        
    }
    
    .settings_icon {
        position: absolute;
        top: 15px;
        right: 76px;
        font-size: 22px;
        margin-top: 3px;
        transition: .2s ease-out;
    }
    
    li a {
        font-family: 'Changa', sans-serif;;
        font-size: 32px;
        color: #111;
        line-height: 63px;
    }
    
    .nav-login {
        float: right;
    }
    
    .nav-login form {
        float: left;
        padding-top: 15px;
    }
    
    .nav-login form input {
        width: 75px;
        height: 28px;
        margin-left: -63px;
        margin-right: 75px;
        border: none;
        background-color: #f1f1f1;
        font-family: arial;
        font-size: 10px;
        color: #111;
        line-height: 30px;
        border-radius: 4px;
    }
    
    header .nav-login form button {
        float: left;
        position: absolute;
        width: 50px;
        height: 28px;
        top: 15px;
        right: 0px;
        border: none;
        background-color: #f1f1f1;
        font-family: arial;
        font-size: 12px;
        color: #111;
        cursor: pointer;
        border-radius: 4px;
    }
    
    header .nav-login a {
        display: block;
        width: 60px;
        height: 60px;
        border: none;
        float: left;
        background-color: #fff;
        font-family: arial;
        font-size: 16px;
        color: #111;
        line-height: 60px;
        cursor: pointer;
    }
    .main-container {
        margin-top: 60px;
        padding-top: 40px;
    }
    
    .main-container h2 {
        font-family: arial;
        font-size: 40px;
        color: #111;
        line-height: 50px;
        text-align: center;
    }
    
    #retro_cam {
        display: block;
    }
    /*_______signup form_________*/
    
    .signup-form {
        width: 400px;
        margin: 0 auto;
        padding: 30px;
        text-align: center;
    }
    
    .signup-form input {
        width: 90%;
        height: 40px;
        padding: 0px 5px;
        margin-bottom: 4px;
        border: none;
        background-color: #fff;
        font-family: arial;
        font-size: 16px;
        color: #111;
        line-height: 40px;
        border-radius: 5px;
    
    }
    
    .signup-form button {
        display: block;
        margin: 0 auto;
        width: 30%;
        height: 40px;
        border: none;
        background-color: rgb(74, 99, 136);
        font-family: arial;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
        border-radius: 5px;
    }
    
    .signup-form button:hover {
        background-color: rgb(226, 130, 66);
    }
    
    .main-wrapper p {
        text-align: center;
        font-family: 'arial';
    }
    
    .main-wrapper a {
        text-align: center;
    }
    
    .main-container div h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        text-align: center;
        color: rgb(83, 88, 148);
    }
    
    footer {
        font-size: 100px;
    }
    
    .img {
        margin: auto;
        text-align: center;
    }
    
    .signup_box {
        width: 100%;
        height: 350px;
        margin-top: 60px;
        text-align: center;
        background-color: darkslategrey;
 }

    .agree {
        font-family: arial;
    }

    .you_mean {
        font-family: arial;
    }
    
    .additional {
        margin: auto;
        text-align: center;
        margin-top: 14px;
        margin-right: -85px;
    }

    .section-default {
        text-align: center;
        font-family: 'Carter One', monospace;
        margin-top: 100px;
    }
.rnpbe-button {
        width: 200px;
        height: 25px;
        background-color: gold;
        border-radius: 4px;
        font-family: arial;
        font-size: 12px;
    }
    .eyea-input {
        width: 180px;
        height: 27px;
        border-radius: 4px;
        font-family: arial;
    }
    
    .reset_success {
        color: green;
        margin: 8px;
        font-family: arial;
    }
}