
@import url(reset_stylesheet.css);

html {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-image: url(../img/Trees_1400x900-1024x658.png);
    /*background-image: linear-gradient(70deg,#b2bad1, white);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}   

nav {
    top: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    position: fixed;
}

.navbar-logo {
    float: left;
    display: block;
    padding-left: 12px;
    padding-top: 15px;
    transition: .4s ease-out;
}
.navbar-logo:hover {
    transform: scale(1.1);
}

.navbar-logo a {
    font-size: 30px;
    font-family: 'Carter One', monospace;
    color: black;
}


.camlogo {
    font-weight: 900;
    font-size: 36px;
    float: left;
    padding: 4px;
    margin-top: -10px;
}

.nav-items {
    float: right;
}

.cam_icon  {
    position: absolute;
    top: 18px;
    right: 250px;
    font-size: 25px;
    transition: .2s ease-out;
    color: grey;
}
.cam_icon:hover {
    transform: scale(1.3);
    color: darkslategrey;
}

.profile_icon {
    position: absolute;
    top: 18px;
    right: 200px;
    font-size: 25px;
    transition: .2s ease-out;
    color: grey;
}
.profile_icon:hover {
    transform: scale(1.3);
    color: darkslategrey;
}

.settings_icon {
    position: absolute;
    top: 18px;
    right: 150px;
    font-size: 25px;
    transition: .2s ease-out;
    color: grey;
}
.settings_icon:hover {
    transform: scale(1.3);
    color: darkslategrey;
}



.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
}

li a {
    font-family: 'Changa', sans-serif;;
    font-size: 32px;
    color: #111;
    line-height: 63px;
}

.nav-login {
    float: right;
}

.nav-login form {
    float: left;
    padding-top: 15px;
}

.nav-login form input {
    float: left;
    width: 140px;
    height: 30px;
    padding: 0px 10px;
    margin-right: 10px;
    border: none;
    background-color: #f1f1f1;
    font-family: arial;
    font-size: 14px;
    color: #111;
    line-height: 30px;
    border-radius: 2px;
}

header .nav-login form button {
    float: left;
    width: 60px;
    height: 30px;
    margin-right: 10px;
    border: none;
    background-color: #f1f1f1;
    font-family: arial;
    font-size: 14px;
    color: #111;
    cursor: pointer;
    border-radius: 2px;
}

header .nav-login form button:hover {
    background-color: rgb(74, 99, 136);
}

header .nav-login a {
    display: block;
    width: 60px;
    height: 60px;
    border: none;
    float: left;
    background-color: #fff;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 60px;
    cursor: pointer;
}
.main-container {
    margin-top: 60px;
    padding-top: 40px;
}

.main-container h2 {
    font-family: arial;
    font-size: 40px;
    color: #111;
    line-height: 50px;
    text-align: center;
}

#retro_cam {
    display: block;
}
/*_______signup form_________##############################################################*/

.signup-form {
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

.signup-form input {
    width: 90%;
    height: 40px;
    padding: 0px 5px;
    margin-bottom: 4px;
    border: none;
    background-color: #fff;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 40px;
    border-radius: 5px;
}

.signup-form button {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 40px;
    border: none;
    background-color: rgb(74, 99, 136);
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.signup-form button:hover {
    background-color: rgb(226, 130, 66);
}

.main-wrapper p {
    text-align: center;
    font-family: 'arial';
}

.main-wrapper a {
    text-align: center;
}

.main-container div h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-align: center;
    color: rgb(83, 88, 148);
}

footer {
    font-size: 100px;
}

.img {
    margin: auto;
    text-align: center;
}

.main-box {
    margin:auto;
    margin-top: 60px;
    text-align: center;
}

.lower-main {
    margin: auto;
    text-align: center;
    margin-top: -10px;
    margin-right: -6px;
}

.agree {
    margin: 0 auto;
    font-family: arial;
}

.you_mean {
    margin: 0 auto;
    font-family: arial;
    margin-bottom: -10px;
}

/*____________@MEDIA QUERY____________________#####################################*/
@media screen and (max-width: 600px) {
    
    html {
        box-sizing: border-box;
    }
    
    .main-wrapper {
        margin: 0 auto;
        width: 1000px;
    }
    a {
        text-decoration: none;
    }
    
    body {
        background-image: url(../img/Trees_1400x900-1024x658.png);
        /*background-image: linear-gradient(70deg,#b2bad1, white);*/
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }

    nav {
        top: 0;
        width: 100%;
        height: 60px;
        background: #fff;
        position: fixed;
    }
    
    .navbar-logo {
        float: left;
        display: block;
        padding-left: 5px;
        padding-top: 15px;
    }
    
    .navbar-logo a {
        font-size: 28px;
        font-family: 'Carter One', monospace;
        color: black;
    }

    .nav-items {
        float: right;
    }

    .camlogo {
        font-weight: 900;
        font-size: 30px;
        float: left;
        padding: 4px;
        margin-top: -6px;
    }

    .cam_icon  {
        position: absolute;
        top: 15px;
        right: 174px;
        font-size: 25px;
        margin-top: 3px;
        transition: .2s ease-out;
    }

    .cam_icon:hover {
        transform: scale(1.3);
    }
    
    .profile_icon {
        position: absolute;
        top: 15px;
        right: 124px;
        font-size: 25px;
        margin-top: 3px;
        transition: .2s ease-out;
        
    }
    .profile_icon:hover {
        transform: scale(1.3);
    }
    
    .settings_icon {
        position: absolute;
        top: 15px;
        right: 76px;
        font-size: 25px;
        margin-top: 3px;
        transition: .2s ease-out;
    }
    .settings_icon:hover {
        transform: scale(1.3);
    }

    li a {
        font-family: 'Changa', sans-serif;;
        font-size: 32px;
        color: #111;
        line-height: 63px;
    }
    
    .nav-login {
        float: right;
    }
    
    .nav-login form {
        float: left;
        padding-top: 15px;
    }
    
    .nav-login form input {
        float: left;
        width: 100px;
        height: 30px;
        padding: 0px 10px;
        margin-right: 10px;
        border: none;
        background-color: #f1f1f1;
        font-family: arial;
        font-size: 10px;
        color: #111;
        line-height: 30px;
        border-radius: 2px;
    }
    
    header .nav-login form button {
        float: left;
        width: 47px;
        height: 30px;
        margin-top: 0px;
        height: 30px;
        margin-top: 0px;
        height: 27px;
        margin-top: 3px;
        margin-right: 10px;
        border: none;
        background-color: #f1f1f1;
        font-family: arial;
        font-size: 12px;
        color: #111;
        cursor: pointer;
        border-radius: 2px;
    }
    
    header .nav-login form button:hover {
        background-color: rgb(74, 99, 136);
    }
    
    header .nav-login a {
        display: block;
        width: 60px;
        height: 60px;
        border: none;
        float: left;
        background-color: #fff;
        font-family: arial;
        font-size: 16px;
        color: #111;
        line-height: 60px;
        cursor: pointer;
    }
    .main-container {
        margin-top: 60px;
        padding-top: 40px;
    }
    
    .main-container h2 {
        font-family: arial;
        font-size: 40px;
        color: #111;
        line-height: 50px;
        text-align: center;
    }
    
    #retro_cam {
        display: block;
    }
    /*_______signup form_________*/
    
    .signup-form {
        width: 400px;
        margin: 0 auto;
        padding: 30px;
        text-align: center;
    }
    
    .signup-form input {
        width: 90%;
        height: 40px;
        padding: 0px 5px;
        margin-bottom: 4px;
        border: none;
        background-color: #fff;
        font-family: arial;
        font-size: 16px;
        color: #111;
        line-height: 40px;
        border-radius: 5px;
    
    }
    
    .signup-form button {
        display: block;
        margin: 0 auto;
        width: 30%;
        height: 40px;
        border: none;
        background-color: rgb(74, 99, 136);
        font-family: arial;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
        border-radius: 5px;
    }
    
    .signup-form button:hover {
        background-color: rgb(226, 130, 66);
    }
    
    .main-wrapper p {
        text-align: center;
        font-family: 'arial';
    }
    
    .main-wrapper a {
        text-align: center;
    }
    
    .main-container div h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        text-align: center;
        color: rgb(83, 88, 148);
    }
    
    footer {
        font-size: 100px;
    }
    
    .img {
        margin: auto;
        text-align: center;
    }
    
    .main-box {
        margin:auto;
        margin-top: 60px;
        text-align: center;
    }

    .agree {
        font-family: arial;
    }
    
    .you_mean {
        font-family: arial;
    }
    
    .lower-main {
        margin: auto;
        text-align: center;
        margin-top: -10px;
        margin-right: -87px;
    }  
}